<?xml version="1.0" encoding="UTF-8"?>
<user name="faons@iscte-iul.pt" password="Kironaxe32!!" accessToken="EAAEyBUHNss4BAOWWbafpqSvPQPYuRd4oZA8L4hr0RqpBgbgPc6VLsrHLtptdZAhaMxlOK1e9NRFikkWzJMUxNKQ6nejGjEh17sN5Ypmj0DaQLCZCRP4g8OUdYJDUd9PysZCwUgqA9D8mZCMrn2TdlJwJ0qAqiFNQZD" appId="EAAEyBUHNss4BAOWWbafpqSvPQPYuRd4oZA8L4hr0RqpBgbgPc6VLsrHLtptdZAhaMxlOK1e9NRFikkWzJMUxNKQ6nejGjEh17sN5Ypmj0DaQLCZCRP4g8OUdYJDUd9PysZCwUgqA9D8mZCMrn2TdlJwJ0qAqiFNQZD" authConsumerKey="EAAEyBUHNss4BAOWWbafpqSvPQPYuRd4oZA8L4hr0RqpBgbgPc6VLsrHLtptdZAhaMxlOK1e9NRFikkWzJMUxNKQ6nejGjEh17sN5Ypmj0DaQLCZCRP4g8OUdYJDUd9PysZCwUgqA9D8mZCMrn2TdlJwJ0qAqiFNQZD" authAccessToken="C24UhBh4Pi2xkpz0BQemkb9B4" authAccessTokenSecret="Dd8weM1Dbn5vLkJwnrBVLJS1W2MVRsPAf7W0thQ7qvkRA">


</user>